

#nameTag, #tagLine {
	animation-duration: 3s;
	animation-delay: 2s;
}

body,
html {
	height: 100%;
	width: 100%;
	
}

.jumbotron {
	background-image: url(cover.jpg);
	/*background: linear-gradient(45deg, rgba(220, 195, 46, .5), rgba(93, 17, 120, .5)), url(cover.jpg) no-repeat center;*/
	background-size: cover;
	background-position: top;
	height: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header {
/*	font-family: 'Covered By Your Grace', cursive;*/
	font-family: 'Permanent Marker', cursive;
	font-size: 8vw;
	text-align: center;
	color: rgba(255, 255, 254,1);
	text-shadow: 2px 6px rgba(0,0,0, .2);
	margin-bottom: 0px;


	
}

.about {
	height: 40%;
	margin-bottom: 0px;
}

.row {
	height: 100%;
}

a {
font-weight: bold;
}

.tagline {
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	color: rgba(255, 255, 254,.8);
}

.card1 {
	height: 100%;
	background-image: url(sunnymountain.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}




.card2 {
	height: 100%;
	background-image: url(coldcloud.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card3 {
	height: 100%;
	background-image: url(foggymountain.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact {
	display: inline-flex;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 100px;

}

.contact-row {
	width: 100%;
	justify-content: center;

}

.chat {
	display: flex;
	justify-content: center;
	padding-top: 8vw;
}